{% load static %}

<!DOCTYPE html>
<html lang=en>

<head>
  <meta content="text/html" charset="utf-8">
  <meta name="viewport" http-equiv="Content-Type" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Paint Palette</title>

  <!-- Bootstrap, jQuery, Paper.js -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>

  <!-- Site-specific stuff -->
  <link rel="stylesheet" type="text/css" href="{% static 'coloring/css/paint_palette.css' %}" />
  <script type="text/javascript" src="{% static 'coloring/js/paintPalette.js' %}"></script>
  <!-- TODO: Get this to work -->
  <link rel="shortcut icon" type="image/ico" href="{% static 'coloring/images/paint_palette.ico' %}"/>

</head>

<body>
  <div class="row">
    <div class="col-3">
      lolwut is dis
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
          <button type="button" id="btn-undo" class="btn btn-primary rotate-pi">↪️</button>
          <button type="button" id="btn-redo" class="btn btn-primary rotate-pi">↩️</button>
        </div>
      </div>
      <div class="row">
        <canvas id="palette-canvas" resize></canvas>
      </div>

    </div>
    <div class="col-1">
      <!-- TODO: Utilise a for loop here -->
      <button type="button" class="btn btn-primary">Red</button>
      <button type="button" class="btn btn-primary">Blue</button>
      <button type="button" class="btn btn-primary">Yellow</button>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <button type="button" class="btn btn-primary">Red</button>
      <button type="button" class="btn btn-primary">Blue</button>
    </div>
  </div>
</body>

</html>